In [48]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('iris.csv')

In [14]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [15]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [24]:
x = df.iloc[:,0:4]
y = df.iloc[:,4]

In [25]:
x

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [26]:
y

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [29]:
from sklearn.svm import SVC
model_svc = SVC()
model_svc.fit(x_train, y_train)

SVC()

In [30]:
x_test

     sepal.length  sepal.width  petal.length  petal.width
18            5.7          3.8           1.7          0.3
145           6.7          3.0           5.2          2.3
109           7.2          3.6           6.1          2.5
45            4.8          3.0           1.4          0.3
111           6.4          2.7           5.3          1.9
6             4.6          3.4           1.4          0.3
35            5.0          3.2           1.2          0.2
142           5.8          2.7           5.1          1.9
41            4.5          2.3           1.3          0.3
107           7.3          2.9           6.3          1.8
50            7.0          3.2           4.7          1.4
135           7.7          3.0           6.1          2.3
25            5.0          3.0           1.6          0.2
81            5.5          2.4           3.7          1.0
37            4.9          3.6           1.4          0.1
34            4.9          3.1           1.5          0.2
67            5.8          2.7           4.1          1.0
126           6.2          2.8           4.8          1.8
112           6.8          3.0           5.5          2.1
71            6.1          2.8           4.0          1.3
120           6.9          3.2           5.7          2.3
123           6.3          2.7           4.9          1.8
79            5.7          2.6           3.5          1.0
46            5.1          3.8           1.6          0.2
24            4.8          3.4           1.9          0.2
17            5.1          3.5           1.4          0.3
73            6.1          2.8           4.7          1.2
106           4.9          2.5           4.5          1.7
36            5.5          3.5           1.3          0.2
43            5.0          3.5           1.6          0.6

In [31]:
y_test

18         Setosa
145     Virginica
109     Virginica
45         Setosa
111     Virginica
6          Setosa
35         Setosa
142     Virginica
41         Setosa
107     Virginica
50     Versicolor
135     Virginica
25         Setosa
81     Versicolor
37         Setosa
34         Setosa
67     Versicolor
126     Virginica
112     Virginica
71     Versicolor
120     Virginica
123     Virginica
79     Versicolor
46         Setosa
24         Setosa
17         Setosa
73     Versicolor
106     Virginica
36         Setosa
43         Setosa
Name: variety, dtype: object

In [32]:
prediction1 = model_svc.predict(x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, prediction1))

0.9333333333333333

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
LR = LogisticRegression()

In [36]:
LR.fit(x_train, y_train)

LogisticRegression()

In [37]:
prediction2 = LR.predict(x_test)

In [40]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,prediction2))

0.9333333333333333

In [42]:
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier()
DTC.fit(x_train,y_train)

DecisionTreeClassifier()

In [45]:
prediction3 = DTC.predict(x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, prediction3 ))

0.9666666666666667

In [47]:
x_new = np.array([[3,3,1,0.5],[4.9,2.5,4.0,1.1],[6.0,5.3,4.6,2.2]])
prediction = DTC.predict(x_new)
print("Prediction id Species:{}".format(prediction))

Prediction id Species:['Setosa' 'Versicolor' 'Virginica']

In [ ]:
x_new = np.array([[3,1,0,0]])
prediction = DTC.predict(x_new)
print("Prediction id Species:{}".format(prediction))